.header{
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #902D49;
    height: 63px;
    &_row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1200px;
        margin: 0 auto;
        @media only screen and (max-width: 1260px) {
            width: 1024px;
        }
        @media only screen and (max-width: 1100px) {
            width: 992px;
        }
        @media only screen and (max-width: 1010px) {
            width: 768px;
        }
        @media only screen and (max-width: 790px) {
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    &_logo{
        display: inline-block; 
        img{
            margin: 0;
            max-width: 169px;
            @media only screen and (max-width: 790px) {
                max-width: 130px;
            }
        }
    }
    &_menu{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        list-style: none;
    }
    &_item{
        &:first-of-type, &:nth-child(2){
            margin-right: 40px;
            @media only screen and (max-width: 790px) {
                margin-right: 10px;
            }
        }
        a {
            font-family: 'Maven Pro', sans-serif;
            font-weight: 400 !important;
            font-size: 16px !important;
            line-height: 33px!important;
            text-align: center !important;
            text-transform: uppercase !important;
            color: #FFFFFF !important;
            @media only screen and (max-width: 790px) {
                font-size: 12px !important;
                line-height: 26px!important;
            }
        }
    }
    &_btn{
        border: 1px solid #FFFFFF;
        border-radius: 2px;
        line-height: 33px!important;
        padding-left: 20px;
        padding-right: 20px;
        display: block;
        @media only screen and (max-width: 790px) {
            padding-left: 10px;
            padding-right: 10px;
        }
        &:hover{
            text-decoration: none;
        }
    }
}
