#user-registration{
  .ur-frontend-form{
    border: none;
    label{
      font-family: 'Maven Pro', sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      text-align: left;
      color: #515153;
    }
    .user-registration-Input{
      height: 38px;
      background: #E7E7E8;
      border-radius: 2px;
      border: none;
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 0;
    }
    .user-registration-form__label-for-checkbox{
      display: none;
    }
    .user-registration-Button{
      font-family: 'Maven Pro', sans-serif;
      height: 40px;
      width: 100%;
      background: #902D49;
      border-radius: 2px;
      font-weight: normal;
      font-size: 14px;
      line-height: 33px;
      text-align: center;
      color: #FFFFFF;
      padding: 0;
      margin-bottom: 30px;
      margin-top: 20px;
    }
    .user-registration-form-row{
      margin-bottom: 15px;
    }
  }
}

#user-registration-form-10{
  padding: 0;
  border: none;
  .ur-form-grid{
    padding: 0;
  }
  label{
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    color: #515153;
  }
  .input-text{
    height: 38px;
    background: #E7E7E8;
    border-radius: 2px;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0;
  }
  .ur-submit-button{
    font-family: 'Maven Pro', sans-serif;
    height: 40px;
    width: 100%;
    background: #902D49;
    border-radius: 2px;
    font-weight: normal;
    font-size: 14px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
    padding: 0;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-right: 0;
  }
  .ur-button-container{
    padding: 0;
  }
  .user-registration-form-row{
    margin-bottom: 15px;
  }
}
