.main{
  position: relative;
  &_row{
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;
    padding-top: 42px;
    @media only screen and (max-width: 1260px) {
      width: 1024px;
    }
    @media only screen and (max-width: 1100px) {
      width: 992px;
    }
    @media only screen and (max-width: 1010px) {
      width: 768px;
    }
    @media only screen and (max-width: 790px) {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 20px;
    }
  }
  &_col:nth-child(1){
    width: 220px;
    @media only screen and (max-width: 790px) {
      width: 100%;
    }
  }
  &_col:nth-child(2){
    width: calc(100% - 220px);
    padding-left: 25px;
    @media only screen and (max-width: 800px) {
      padding-left: 15px;
    }
    @media only screen and (max-width: 790px) {
      width: 100%;
      padding-left: 0;
    }
  }
  &_title{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #515153;
    margin-bottom: 16px;
  }
  &_btn{
    font-weight: 400;
    font-size: 16px;
    height: 33px;
    display: block;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    background: #902D49;
    border-radius: 2px;
    width: 182px;
    &:hover{
      text-decoration: none;
    }
  }
}