.preview{
  &_bg{
    width:100%;
    height:100%;
    background-position: center center;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
  }
  &_play{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 150px;
    height:150px;
    border-radius: 50%;
    border: 3px solid #fff;
    background: transparent;
    transition: all .3s;
    cursor: pointer;
    i{
      font-size: 66px;
      color: #fff;
      position: absolute;
      top:50%;
      left: 53px;
      transform: translateY(-50%);
    }
    &:hover{
      border: 3px solid #902D49;
      background: #fff;
      i{
        color: #902D49;
      }
    }
  }
}