.sidebar{
  &_avatar{
    width: 169px;
    height: 169px;
    margin: 0 auto;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    background-color: #E7E7E8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 5px solid #fff;
    @media only screen and (max-width: 800px) {
      width: 140px;
      height: 140px;
    }
    @media only screen and (max-width: 790px) {
      width: 100px;
      height: 100px;
    }
    i{
      font-size: 100px;
      color: #C8C9CB;
      @media only screen and (max-width: 800px) {
        font-size: 80px;
      }
      @media only screen and (max-width: 790px) {
        font-size: 50px;
      }
    }
    &-wrap{
      width: 171px;
      margin: 0 auto;
      border-radius: 50%;
      border: 1px solid #E7E7E8;
      @media only screen and (max-width: 800px) {
        width: 142px;
      }
      @media only screen and (max-width: 790px) {
        width: 102px;
      }
    }
  }
  &_line{
    width: 100%;
    height:1px;
    background: #E7E7E8;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  &_name{
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    text-align: center;
    color: #515153;
    margin-bottom: 20px;
  }
  &_box-title{
    font-weight: 400;
    font-size: 15px;
    line-height: 45px;
    color: #515153;
    background: #E7E7E8;
    border-radius: 5px 5px 0px 0px;
    width: 100%;
    padding-left: 15px;
    margin-bottom: 0;
  }
  &_box-desc{
    padding: 10px;
    border: 1px solid #E7E7E8;
    border-radius: 0px 0px 5px 5px;
    color: #515153;
    font-size: 14px;
    line-height: 16px;
    a{
      color: #515153;
      text-transform: uppercase;
    }
  }
}