.tours{
  &_table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 25px;
    tbody{
      @media only screen and (max-width: 790px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
    tr{
      width: 100%;
      margin-bottom: 5px;
      display: table;
      @media only screen and (max-width: 790px) {
        width: calc(50% - 5px);
        margin-left: 5px;
        margin-right: 5px;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        &:nth-child(odd){
          margin-left: 0!important;
        }
        &:nth-child(even){
          margin-right: 0!important;
        }
      }
    }
    td{
      &:first-of-type{
        padding-left: 20px;
        width: 176px;
        @media only screen and (max-width: 790px) {
          width: 100%;
          padding-left: 0;
        }
      }
      &:nth-child(3){
        .td_wrap{
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
        }
      }
      &:last-of-type{
        .td_wrap{
          padding-right: 20px;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          position: relative;
          @media only screen and (max-width: 790px) {
            justify-content: flex-start;
          }
          a{
            position: relative;
            &:hover{
              b{
                opacity: 1!important;
              }
            }
          }
          b{
            position: absolute;
            background: #902d49;
            color: #fff;
            font-weight: 400;
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 4px;
            top: -16px;
            left: -12px;
            width: 77px;
            text-align: center;
            opacity: 0;
            transition: all .3s;
            &:before{
              content: '';
              position: absolute;
              bottom: -5px;
              left: 10px;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 5px 5px 0 5px;
              border-color: #902d49 transparent transparent transparent;
            }
          }
          span{
            position: relative;
            font-weight: 700;
            font-size: 10px;
            line-height: 1;
            text-transform: uppercase;
            color: #902D49;
            margin-right: 25px;
            @media only screen and (max-width: 790px) {
              position: absolute;
              top: 15px;
              right: 15px;
              margin-right: 0;
            }
          }
        }
      }
    }
    .video-tour i{
      font-weight: 300;
      font-size: 24px;
      line-height: 34px;
      text-align: center;
      color: #515153;
      margin-right: 26px;
      @media only screen and (max-width: 790px) {
        font-size: 16px;
        margin-right: 15px;
      }
    }
    .edit-tour i{
      font-weight: 300;
      font-size: 24px;
      line-height: 34px;
      text-align: center;
      color: #515153;
      margin-right: 20px;
      @media only screen and (max-width: 790px) {
        font-size: 16px;
        margin-right: 10px;
      }
    }
    .delete-tour i{
      font-weight: 300;
      font-size: 24px;
      line-height: 34px;
      text-align: center;
      color: #902D49;
      @media only screen and (max-width: 790px) {
        font-size: 16px;
      }
    }
  }
  &_image{
    width: 138px;
    height: 72px;
    background-position: center center;
    background-size: cover;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    @media only screen and (max-width: 790px) {
      width: 100%;
      height: 110px;
    }
  }
  &_publish{
    background: #F7F7F7;
    @media only screen and (max-width: 790px) {
      background: #fff;
    }
    td{
      background: #F7F7F7;
      @media only screen and (max-width: 790px) {
        background: #fff;
      }
    }
  }
  &_draft{
    border-top: 1px solid #E7E7E8;
    border-bottom: 1px solid #E7E7E8;
  }
  &_title{
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #515153;
    margin-bottom: 5px;
  }
  &_mod{
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: #515153;
    margin-bottom: 0;
  }
  &_video-btn{
    font-weight: 400;
    font-size: 16px;
    height: 33px;
    display: block;
    line-height: 30px;
    text-align: center;
    border-radius: 2px;
    border:1px solid #515153;
    width: 204px;
    color: #515153;
    background: transparent;
    transition: all .3s;
    &:hover{
      text-decoration: none;
      background: #902D49;
      color: #FFFFFF;
      border:1px solid #902D49;
    }
  }
}