html{
  overflow-x: hidden!important;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden!important;
  overflow-y: auto!important;
  width: 100%;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  font-family: 'Maven Pro', sans-serif;
  color: #000;
  font-weight: 600;
  @media only screen and (max-width: 575px) {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 20px;
  }
}
h1{
  font-size: 24px;
  line-height: 45px;
  margin-bottom: 30px;
}
h2{
  font-size: 24px;
  line-height: 43px;
  margin-bottom: 30px;
}
h3{
  font-size: 23px;
  line-height: 41px;
  margin-bottom: 30px;
}
h4{
  font-size: 22px;
  line-height: 39px;
  margin-bottom: 30px;
}
h5{
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 30px;
}
h6{
  font-size: 21px;
  line-height: 31px;
  margin-bottom: 30px;
}
hr{
  margin-bottom: 30px;
}
p{
  font-family: 'Maven Pro', sans-serif;
  font-size: 13px;
  color: #000;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  @media only screen and (min-width: 576px) {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 25px;
  }
  strong{
      font-family: 'Maven Pro', sans-serif;
      font-weight: 400;
      color: #000;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 0;
      display: inline-block;
      @media only screen and (min-width: 768px) {
          font-size: 18px;
          line-height: 25px;
      }
  }
}

a{
  text-decoration: none;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
  color: #22376F;
  &:hover{
    text-decoration: underline;
  }
}

//img{
//	width: 100%;
//    height: auto;
//    margin-top: 25px;
//    margin-bottom: 50px;
//}

//strong{
//    font-family: 'Maven Pro', sans-serif;
//    font-weight: 400;
//    color: #000;
//    font-size: 16px;
//    line-height: 20px;
//    margin-bottom: 25px;
//    display: inline-block;
//    @media only screen and (min-width: 768px) {
//        font-size: 18px;
//        line-height: 25px;
//    }
//}

span{
    font-family: 'Maven Pro', sans-serif;
    line-height: 1;
}

/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:hover, *:focus, *:active {
  outline:none;
}
#evovr-modal-error, #wpadminbar{
  display: none!important;
}
.my-login{
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 90px);
  @media only screen and (max-width: 768px) {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  &_wrap{
    width: 340px;
    @media only screen and (max-width: 768px) {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  &_title{
    font-family: 'Maven Pro', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #515153;
  }
  a{
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 12px;
    text-align: left;
    color: #008FBC;
  }
}

#tour_id,#tour_title,#tour_desc,#tour_image,#test,#test2,#tour_author{
  display: none;
}

#meet{
  width: 100%;
  height:100%;
}