<div id="user-registration" class="user-registration">
    <div class="ur-frontend-form login " id="ur-frontend-form">
       <form class="user-registration-form user-registration-form-login login" method="post">
          <div class="ur-form-row">
             <div class="ur-form-grid">
                <p class="user-registration-form-row user-registration-form-row--wide form-row form-row-wide">
                   <label for="username">Username or email address <span class="required">*</span></label>
                   <input type="text" class="user-registration-Input user-registration-Input--text input-text" name="username" id="username" value="">
                </p>
                <p class="user-registration-form-row user-registration-form-row--wide form-row form-row-wide">
                   <label for="password">Password <span class="required">*</span></label>
                   <span class="password-input-group">
                   <input class="user-registration-Input user-registration-Input--text input-text" type="password" name="password" id="password">
                   </span>
                </p>
                <p class="form-row">
                   <input type="hidden" id="user-registration-login-nonce" name="user-registration-login-nonce" value="0e326df19a"><input type="hidden" name="_wp_http_referer" value="/">						<input type="submit" class="user-registration-Button button" name="login" value="Login">
                   <input type="hidden" name="redirect" value="/tours">
                   <label class="user-registration-form__label user-registration-form__label-for-checkbox inline">
                   <input class="user-registration-form__input user-registration-form__input-checkbox" name="rememberme" type="checkbox" id="rememberme" value="forever"> <span>Remember me</span>
                   </label>
                </p>
                <p class="user-registration-register register">								<a href="/registration"> Not a member yet? Register now.									</a>
                </p>
                <p></p>
             </div>
          </div>
       </form>
    </div>
 </div>