<div class="user-registration ur-frontend-form  " id="user-registration-form-10">
   <form method="post" class="register" data-enable-strength-password="yes" data-minimum-password-strength="3" novalidate="novalidate">
      <div class="ur-form-row">
         <div class="ur-form-grid ur-grid-1" style="width:99%">
            <div class="ur-field-item field-user_login">
               <div class="form-row validate-required" id="user_login_field" data-priority=""><input data-rules="" data-id="user_login" type="text" class="input-text input-text ur-frontend-field  " name="user_login" id="user_login" placeholder="Name" value="" required="required" data-label="Name"></div>
            </div>
            <div class="ur-field-item field-user_email">
               <div class="form-row validate-required" id="user_email_field" data-priority=""><input data-rules="" data-id="user_email" type="email" class="input-text input-email ur-frontend-field  " name="user_email" id="user_email" placeholder="E-mail" value="" required="required" data-label="E-mail"></div>
            </div>
            <div class="ur-field-item field-user_pass">
               <div class="form-row validate-required" id="user_pass_field" data-priority=""><input data-rules="" data-id="user_pass" type="password" class="input-text input-password ur-frontend-field  " name="user_pass" id="user_pass" placeholder="Password" value="" required="required" data-label="Password"></div>
            </div>
            <div class="ur-field-item field-user_confirm_password">
               <div class="form-row validate-required" id="user_confirm_password_field" data-priority=""><input data-rules="" data-id="user_confirm_password" type="password" class="input-text input-password ur-frontend-field  " name="user_confirm_password" id="user_confirm_password" placeholder="Confirm Password" value="" required="required" data-label="Confirm Password"></div>
            </div>
         </div>
      </div>
      <div class="ur-button-container ">
         <button type="submit" class="btn button ur-submit-button ">
         <span></span>
         Submit						</button>
      </div>
      <div style="clear:both"></div>
      <input type="hidden" name="ur-user-form-id" value="10">
      <input type="hidden" name="ur-redirect-url" value="">
      <input type="hidden" id="ur_frontend_form_nonce" name="ur_frontend_form_nonce" value="50fb471998">
   </form>
   <div style="clear:both"></div>
</div>